{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1
      class="margin"
      style="border-bottom: 1px solid black; display: inline-block"
    >
      Students:
    </h1>
    <br />
    <div>
      <div class="margin padding">
        <h2>Create / View:</h2><br>
        <h2><a href="student/" class='button'>Here</a></h2>
      </div>
      <div class="margin padding">
        {% block student_id %}
        <ul>
          <h2>Update / Delete:</h2><br>
          {% for event in student_lists %}
          <h2 style="display: inline-block">
            <a href="student/{{event.id}}" class='button'>{{event.id}}</a>
          </h2>
          {% endfor %}
        </ul>
        {% endblock student_id %}
      </div>
    </div>
  </body>
</html>
