<!-- footer -->
<footer>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/thapasurajk/" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/thapasurajk" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/thapasurajk" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  </div>
  <div class="copyright">&copy; Copyright 2020 thapasurajk.com</div>
</footer>